@font-face {
	font-family: 'DFSoGeiStd-W7';
	src: url(../../assets/fonts/DFSoGeiStd-W7.woff2?h=74ea94b8983ce7fe623955d6dbe3504e) format('woff2'),
	url(../../assets/fonts/DFSoGeiStd-W7.woff?h=74ea94b8983ce7fe623955d6dbe3504e) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}